body {
background: linear-gradient(to right bottom, black, pink, skyblue, red);
}
a {
display: inline-block;
color: white;
font-weight: bolder;
text-align: center;
text-decoration: none;
padding: 25px 20px;
margin-top: 10px;
margin-left: 70px;
border-radius: 5px;
text-shadow: 1px 2px 1px blue;
}
header {
height: 90px;
background: radial-gradient(circle, black, green, maroon);
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
}

h1 {
width: fit-content;
margin: auto;
background: linear-gradient(to right top, red, black);
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
h2 {
width: 90%;
color: white;
background: linear-gradient(to left bottom, blue, maroon);
border-radius: 2px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 5px;
}
table {
width: fit-content;
background: linear-gradient(to right top, black, blue);
color: white;
}
#html_section, #http_section, #css_section, #git_section, #bootstrap_section, #javascript_section {
background: linear-gradient(to right top, tomato, maroon, black, teal, darkmagenta);
margin-top: 100px;
margin-bottom: 100px;
}
table {
border-collapse: collapse;
}
th, td {
padding: 5px;
}
button {
background-color: black;
border-radius: 8px;
}